﻿@model Startup.Models.SequenceViewModel

@{
    ViewData["Title"] = "Sequence Page";
}

<div class="text-center">
    <h1 class="display-4">Sequence</h1>
    <p>This calculator uses three difference machines to calculate the start and end values for a Fibunacci sequence as well as sequence in between those numbers. 
    Bellow please find calculated sequence</p>

    <h2>Sequence - [@Model.SequenceStartPoint.ToString("N0"), @Model.SequenceEndPoint.ToString("N0")]</h2>
    <h3>Sequence numbers in between start and end valued and nodes used for calculation</h3>

    @foreach (var calculationInformation in Model.SequenceCalculationInformation)
    {
        <div>@calculationInformation.Machine , @calculationInformation.Number.ToString("N0")</div>
    }
</div>
