﻿@{
    ViewData["Title"] = "Main Page";
}

<div>
    <h1>Welcome</h1>
    <p>
        You have landed in a Fibunacci numbers calculator. Click 
        <a asp-area="" asp-controller="Sequence" asp-action="Index">kere</a> to navigate to sequence page.
    </p>
</div>
